.loginButton {
    background-color: aliceblue;
}
header {
    background-color: blue;
}

body {
  background-color: lightblue;
  font-family: Arial, sans-serif;
}

h1 {
  color: darkblue;
  text-align: center;
}