.topics-page {
  padding-top: 1rem;
}

.topic-card { position: relative; border-radius: 1rem; }
.topic-card .card-body { padding: 2rem 1rem; }

.topic-card:hover {
  transform: translateY(-1px);
  transition: transform 120ms ease;
}
