body {
  background-color: lightblue;
  font-family:'Times New Roman', Times, serif;
}

.text-center {
  text-align: center;
  background-color: lightblue;
  font-family:'Times New Roman', Times, serif;
}

.wrapper { padding-top: 1rem; }
@media (min-width: 992px) {
  .wrapper .display-6 { margin-top: .25rem; }
}

main { padding-top: 1rem; }              /* keep welcome near the top */


h1 {
  color: darkblue;
  text-align: center;
}
