.loginButton {
    background-color: aliceblue;
}
header {
    background-color: aliceblue;
}

body {
  background-color: lightblue;
  font-family:'Times New Roman', Times, serif;
}

footer {
  flex: 0 30px;
}

h1 {
  color: darkblue;
  text-align: center;
}
.nav-lang {
  font-family:'Times New Roman', Times, serif;
}

.nav-list {
  list-style: none;      /* removes the dots */
  margin: 0;             /* removes default margin */
  padding: 0;            /* removes default padding */
  display: flex;         /* places items in a row */
  gap: 1em;              /* spacing between items */
}

.nav-list li a {
  text-decoration: none; /* remove underline */
  color: darkblue;
  font-weight: bold;
}

.nav-list li a:hover {
  color: crimson;        /* hover effect */
}

td {
  max-width: 40vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
