body {
  margin: 0;
  min-width: 375px;
}

header,
footer {
  font-family: 'Times New Roman', Times, serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.navbar-brand {
  padding-left: 0.3rem;
  border-bottom: solid rgb(182, 182, 182) thin;
}

@media (max-height: 600px) {
  header,
  footer {
    display: none;
  }
  main {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
